<header class="header-page">
  <div class="container">
    <nav></nav>
    <ul class="site-navigation">
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./index.html">Home</a>
      </li>  
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-9-1.html"
          >Gallery-SimpleLightbox</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-9-2.html"
          >Form-save-data</a
        >
      </li>    
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-8-1.html"
          >Gallery-my with slider</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-8-2.html"
          >Gallery-basicLightbox</a
        >
      </li>  
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-8-3.html"
          >Gallery-basicLightbox with my slider</a
        >
      </li>          
    </ul>
  </nav>
  </div>
</header>
