<section class="section">
    <div class="feedback-container container">
      <h2 class="feedback-title visually-hidden">
        Submit form
      </h2>

      <form class="feedback-form" autocomplete="off">
        <div class="feedback-form-inputs-wrapper">
          <label class="feedback-form-field-label"
            >Email
            <input
              class="feedback-form-input"
              type="email"
              name="email"
              autofocus
            />
          </label>
          <label class="feedback-form-field-label"
            >Message
            <textarea
              class="feedback-form-input feedback-form-message"
              name="message"
              rows="8"
            ></textarea>
          </label>
        </div>
        <button class="feedback-form-button" type="submit">Submit</button>
      </form>

    </div>
  </section>